<div style="text-align:center;">
	<h1>员工信息</h1>
	<h2>"{{name}}"</h2>
	<p><span>性别：</span>{{sex}}</p>
	<p><span>年龄：</span>{{age}}</p>
	<p><span>职位：</span>{{position}}</p>
	<p><span>所在地区：</span>{{city}}</p>
</div>